body
{
	background-color: #f2f2f2;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
    nav, article {
    width: 100%;
    height: auto;
  }
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
    nav, article {
    width: 100%;
    height: auto;
  }
}
a
{
  font-style: italic;
  text-decoration: none;  
}
a:hover
{
  font-style: normal;
}
.container {
  max-width: 970px;
  margin: 40px auto;
  padding: 5px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
header
{
	overflow: hidden;
	background-color: #eaeaea
	
}
.myimage
{
	
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
  max-width: 25%;
  pointer-events: none;
  
}
.myname
{
	margin-left: auto;
	padding-bottom: 0px;
	font-size: 4vw;
	color: #2a7dbb;
	font-family: 'Raleway'
}
.myplace
{
	font-family: 'Verdana';
	margin-left: auto;
	font-size: 2.5vw;
	color: grey;
}
.sectionside
{
	font-size: 2vw;
	font-family: 'Raleway'
	color:solid black;
}
.sectiondetails
{
	color:grey;	
	font-size: 1.2vw;
	font-family: 'Raleway'	
}
.sectionsidedetails
{
	color:solid black;	
	font-size: 1.5vw;
	font-family: 'Raleway'	
	font-weight: bold;
	font-variant:
}
section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
}
section:after 
{
  content: "";
  display: table;
  clear: both;
}
nav 
{
  float: left;
  width: 34%;
  padding: 20px;
  
}
article {
  float: left;
  padding: 20px;
  width: 66%;
  
  background-color: #fafafa
}
.newline
{
	border: 0.5px solid lightgrey;
}
.hussain
{
  color:solid black;  
  font-size: 1.5vw;
  font-family: 'Raleway'  
  font-variant:
  font-style: normal;
}
p,h1,h2,h3,h4,h5,h6,pre
{
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;
}



@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

ul {
    
    
    
    background-color: solid lightgrey;
    margin-left: auto;
    padding: 0;
    display: flex;
    max-width: 100%;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 0.1610305958132045vw;
    background-color: solid lightgrey;
}
ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.322061191626409vw;
    width: 3.2206119162640903vw;
    height: 0.644122383252818vw;
    background: solid lightgrey;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
ul li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
ul li a {
    width: 4vw;
    height: 4vw;
    display: block;
    transition: 0.5s;
    background-color: solid lightgrey;
}
ul li:hover a {
    transform: translateY(-0.8051529790660226vw);
}
ul li a span  {
    width: 100%;
    height: 100%;
    background-color: solid lightgrey;
}
ul li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 3.2206119162640903vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: solid lightgrey;
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}
ul li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
ul li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 3.2206119162640903vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #262626; 
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
ul li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
ul li:nth-child(1) a span::before,
ul li:nth-child(1) a span::after {
    content: '\f09a';
}
ul li:nth-child(2) a span::before,
ul li:nth-child(2) a span::after {
    content: '\f099';
}
ul li:nth-child(3) a span::before,
ul li:nth-child(3) a span::after {
    content: '\f16d';
}
ul li:nth-child(4) a span::before,
ul li:nth-child(4) a span::after {
    content: '\f0e1';
}
ul li:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
ul li:nth-child(2) a span::after {
    background: #55acce;
    color: #fff;
}
ul li:nth-child(3) a span::after {
    background: #dd4b39;
    color: #fff;
}
ul li:nth-child(4) a span::after {
    background: #0077b5;
    color: #fff;
}